.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:70px;
    border:1px solid #d3d3d3;
    /* background-color: red; */
}
/* Sezione sinistra navbar */
.martedi{
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    /* background:yellow; */
    width: 50%;
}
/* Sezione destra navbar */
.right{
    display: flex;
    align-items: center;
    gap:20px;

}
#citynews{
    width:100%;
    /* border-left: 1px solid #d3d3d3; */
    padding:17px;
}

.button-1{
    /* background: red; */
    width:15%;
}
.mode-screen{
    /* background: red; */
    padding:20px;
    width: 15%;
    gap:30px;
    display: flex;
    border-left:1px solid #d3d3d3;
    border-right:1px solid #d3d3d3;
}
.button-2{
    background: mediumseagreen;
    /* padding:10px; */
    border:1px solid #d3d3d3;
    border-radius:20px;
    width:15%;
    height:30%;
    text-align: center;
}
.button-3{
    border-left:1px solid #d3d3d3;
    /* background: red; */
    padding:20px;
}

.row{
    height:10vh;
    /* border-bottom:1px solid #d3d3d3; */
}
.martedi{
    margin-top:17px;
}
.button-header{
    gap:20px;
}
.face-men{
    width:20%;
}
/* Header */
header{
    background:beige;
}
a{
    text-decoration: none;
    color:black;
}
.header-bar{
    height: 20vh;
}
.logo-ancona{
  height: 100px;    
  width: auto;
  max-width: 100%;
  display: block;
}
.button-header{
    display: flex;
    align-items: center;
    gap:30px;
}
.button-header1{
    font-size:23px;
}
.face-men{
    width:70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border:1px solid black;
}
.article-header{
    gap:5px;
    /* margin-left: 50px; */
    /* background: red; */
}
.box-1, .box-2{
    width:40%;
    height:70%;
    padding:15px;
    border:1px solid black;
    background: white;
}
.titolo{
    font-size:20px;
}

/* Prima sezione */

.article-in-line{
    /* display: flex;
    justify-content: center; */
    height:90vh;
    margin-left:-40px;
}
.article-in-line-2{
    height:50vh;
    margin:0px;
    width:87%;
    margin-left:-38px;

}
.articolo-1{
    padding:10px;
    width: 40%;
    /* height: 700px; */
    border:1px solid #d3d3d3;
    border-right:none;
    border-top:none;
    border-left:none;
    /* background: yellow; */
    margin-bottom:10px;
}
.notizie{
    font-size: large;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: red;
    margin-top:10px;
}
.style-paragraph{
    font-size: large;
    color:rgb(105, 105, 105);
    
}
.articolo-2{
    padding:10px;
    width:25%;
    /* height:700px; */
    border: 1px solid #d3d3d3;
    border-top: none;
    margin-bottom:10px;
    /* background: green; */
}
.articolo-3{
    margin-top:10px;
    padding:10px;
    width: 47%;
    height: 400px;
    border:1px solid #d3d3d3;
    border-top:none;
    border-bottom:none;
    border-right:none;
   
}
.style-text-thirdarticle{
    font-size: large;
    color:rgb(105, 105, 105);
    width:50%;
}
.terzo-titolo{
    display: flex;
}
.articolo-4{
    margin-top:10px;
    padding:10px;
    width:29%;
    height:400px;
    border:1px, solid, #d3d3d3;
    border-top:none;
    border-bottom:none;
}
.articolo-5{
    margin-top:50px;
    padding:15px;
    
}
.img-nicolisa{
    width:100%;
}
.img-terremoto{
    width:90%;
    
}
.img-frontale{
    width: 40%;
    padding:10px;
}
/* Aside bar */
.aside-bar{
    width: 15%;
    padding:10px;
}
.numana{
    width: 100px;
    height:100px;
    padding:10px;
}
.aside-list{
    display: flex;
    width:100%;
    border-bottom:1px solid #d3d3d3;
    
}

/* Seconda sezione */
.row-custom{
    height: 82vh;
}
.second-section{
    background: black;
    color: white;
    padding:24px;
}
.title-second-section{
    /* background:red; */
    font-size: 30px;
    width: 78%;
    border-bottom:1px solid #d3d3d3;
    margin-left:175px; 
    margin-top:0px;
}
/* Box parte sinistra */
.text-first-video{
    width:80%;
    font-size:18px;
}
.img-interview{
    width: 80%;
    padding:10px;
}
/* Box parte destra */
.img-vigili-fuoco, .star-ancona{
    width:100%;
    height:150px;
}

.second-video, .third-video{
    width:70%;
    height: 330px;
    padding:47px;
    border-left:1px solid white;
}
.second-video{
    border-bottom:1px solid white;
}

/* Terza sezione */
.row-section3{
    height:160vh;
}
.title-third-section{
    font-size:30px;
    border-bottom:2px solid black;
}
.first-line{
    display: flex;
    align-items: center;
    justify-content: center;
}
.second-line{
    display: flex;
    justify-content: center;
}
.third-line{
    display: flex;
    justify-content: center;
    
}
.img-1, .img-2, .img-3, .img-4, .img-5, .img-6, .img-7, .img-8, .img-9, .img-10, .img-11, .img-12{
    display: flex;
    flex-direction: column;
    width:20%;
    padding:10px;
}
.imgscale{
    margin-top: 48px;
}
footer{
    height:70vh;
    background: black;
}
@media screen and (max-width: 1400px) {

    /* navbar */
    .navbar{
        display:none;
    }

    .box-1, .box-2{
        display: none;
    }
    .img-button{
        display:flex;
        justify-content: center;
    }
}
@media screen and (max-width:900px){
    .img-frontale{
        display:none;
    }
}

